body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Aquí se establece la imagen de fondo */
    background-image: url('../img/img.jpg');
    background-repeat: no-repeat;
    background-size: contain; /* Esto hace que la imagen se ajuste al tamaño de la pantalla */
    background-position: center; /* Esto centra la imagen */
}
.header {
    width: 100%;
    padding: 50px;
    background-color: rgba(248, 249, 250, 0.7); /* Agregamos transparencia al fondo para que la imagen se vea */
    text-align: center;
}
.content {
    margin: 20px;
    text-align: center;
}
.footer {
    width: 100%;
    padding: 20px;
    background-color: rgba(248, 249, 250, 0.7); /* Agregamos transparencia al fondo para que la imagen se vea */
    text-align: center;
    position: fixed;
    bottom: 0;
}
