@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
    font-family: 'Bungee', cursive;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffc107; /* Color de texto amarillo similar al de la imagen */
    background-color: #000000; /* Color de fondo negro similar al de la imagen */
}
.imagen-inicial img, .imagen-secundaria img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.contenido {
    width: 100%;
    text-align: center;
}
.header {
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.7);
}
.header h1, .header p {
    color: #ffc107; /* Color de título amarillo similar al de la imagen */
}
.content {
    margin: 20px;
}
.footer {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    bottom: 0;
}
